/* Global Setting */

body, header, footer {
    background-color: #0E1821;
    font-family: 'Libre Franklin';
    color: #f9fafb;
}

/* Header Footer */

header, footer {
    transition: opacity 0.5s ease;
}

.hidden {
    opacity: 0;
}

.visible {
    opacity: 1;
}

/* Header */

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 30px 10px 3px 80px;
}

header h1 {
    font-weight: 400;
    padding-left: 3px;
    font-size: 1.25rem;
}

header a {
    color: #F3F1E5;
    text-decoration: none;
}

header .filter {
    background-color: transparent;
    color: #F3F1E5;
    margin: 15px 3px;
    border: 1px solid #838383;
    padding: 7px 10px;
    cursor: pointer;
    font-size: 0.75rem;
    font-weight: 400;
    border-radius: 5px;
}

header .filters button:hover {
    background-color: #333;
}

/* Footer */

footer {
    position: sticky;
    bottom: 0;
    height: 40px;
    padding: 10px;
    text-align: center;
    background-color: #0E1821;
}

footer p {
    font-family: "Libre Franklin";
    font-size: 14px;
}

/* Body */
body {
    margin: 0;
}

h1 {
    font-weight: 400;
    font-size: 25px;
    margin: 0;
}

.categoryName {
    font-size: 16px;
    font-weight: 400;
    color: lightgray;
    margin: 0;
    padding: 10px;
}

img {
    cursor: pointer;
}