/* Container Styles */
#portfolio-container {
    display: flex;
    flex-direction: row;
    padding: 0;
    height: 87vh;
}

/* Portrait Section */
#portrait-section {
    flex: 1;
    padding: 0;
    margin: 40px 100px;
    background-color: black;
    display: flex;
    align-items: center;
}

#portfolio-image {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    border-radius: 10px;
    background-color: black;
}

/* Info Section */
#info-section {
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#name {
    flex: 1;
    margin-top: 20px;
    margin-bottom: 0;
}

.name-text {
    font-size: 36px;
    font-family: "Minion Pro";
    color: #ffffff;
    margin-bottom: 10px;
}

.period-text {
    font-size: 20px;
    font-family: "Minion Pro";
    color: #8D9194;
}

/* Basic Info Section */
#basicInfo {
    flex: 1;
    display: flex;
    width: 100%;
    margin: 25px 0 10px 20px;
}

.basic-info-left, .basic-info-right {
    width: 100%;
}

.basic-info-left {
    flex: 3;
    margin-left: 40px;
}

.basic-info-right {
    flex: 7;
    margin-left: 20px;
}

.basic-info-item {
    font-family: "Minion Pro";
    margin: 10px;
    font-size: 20px;
}

/* AI Summary Styles */
#aiSummary {
    flex: 10;
}

.ai-summary-title {
    display: flex;
    align-items: center;
    color: white;
    font-family: "Minion Pro";
    font-size: 20px;
}

#ai-summary-contents {
    background-color: #002554;
    margin-right: 50px;
    padding: 10px;
    height: 88%;
    display: flex;
    flex-direction: column;
}

.ai-section-title {
    font-family: "Minion Pro";
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin: 20px;
    padding: 0;
}

.ai-section-content {
    font-size: 16px;
    margin: 5px 20px 10px 20px;
    padding: 0;
    line-height: 1.2;
}
