/* Title */

#title-div h1 {
 font-size: 42px;   
}

#title-div h2 {
    font-size: 24px;
}

/* SI Stats */
.si_stats_metrics_name {
    font-size: 24px;
}

.si_stats_metrics_number {
    font-size: 80px;
    margin: 0 0;
}

@keyframes bounce {
    0%, 50%, 100% {
      transform: translateX(-50%) translateY(0);
    }
    25%, 75% {
      transform: translateX(-50%) translateY(-10px);
    }
  }

  .bounce-animation {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 25px;
    height: auto;
    animation: bounce 2s infinite;